Ignore var folder
var/**/*

#Ignore app folder
app/cache/*
app/config/parameters.yml
app/phpunit.xml

/bin
#Ignore vendor folder
/vendor
vendor/**/*

#Ignore composer files
composer.lock

#Ignore web/
web/bundles/**/*

/.idea

#ignore logs
app/logs/*
app/logs/**/*
app/logs/dev.log

app/bootstrap.php.cache
src/BackendBundle/Controller/TestController.php
web/generated_files/*