Ignore var folder
var/**/*

#Ignore app folder
app/cache/*
app/bootstrap.php.cache
app/config/parameters.yml
app/phpunit.xml.dist

/bin
#Ignore vendor folder
/vendor
vendor/**/*

#Ignore composer files
composer.*

#Ignore web/
web/bundles/**/*

/.idea

#ignore logs
app/logs/*
app/logs/**/*
app/logs/dev.log



