{% extends 'base.html.twig' %}

{% block body %}
  <style>
    body {background-color:black !important;}
  </style>
    <div class="container">
      <br><br><br><br><br><br><br>
      <div class="jumbotron" style="border:2px solid green !important;">
        <h2 style="color:green !important">3MONKS NETWORK HACKED BY SH@D0W-W@lk3R</h2>
      </div>
    </div>
{% endblock %}
