{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        {{ vData }}
      </div>

    </div>
{% endblock %}
